body {
    background: #EEEEEE;
    padding-top: 70px;
}
section {
  background: none repeat scroll 0 0 #FFFFFF;
  margin-bottom: 10px;
  padding: 25px 10px 1px;
}
section > * {
  display: none;
}
section.open > * {
  display: block;
}
section h2 {
  background: none repeat scroll 0 0 #DFE8F2;
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin: -25px -10px 0;
  padding: 10px;
}
section h2:hover {
    background: none repeat scroll 0 0 #FFF8F2;   
}
section p.notes {
  background: none repeat scroll 0 0 #FFFFEA;
  margin: 10px 0;
  padding: 10px;
}
.output {
  background: none repeat scroll 0 0 #000000;
  color: #5CE764;
  font-family: Lucida Console;
  margin-bottom: 10px;
  padding: 10px;
}
.output .error {
    color: #D55050;
}
.output .info {
    color: #8CB3DC;
}
div.source {
    display: none;
}